<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./login_styles.css">
</head>
<body>

  <div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div class="input-group">
        <label for="username"><i class="fa-solid fa-user"></i> Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required autocomplete="off" >
      </div>
      <div class="input-group">
        <label for="password"><i class="fa-solid fa-lock"></i> Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
    <div class="extra-links">
      <a href="/forgot">Forgot password?</a> | 
      <a href="/registration">Sign up</a>
    </div>
  </div>

</body>
</html>
