<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/"><i class="fa-solid fa-scissors"></i> URL Shortener</a>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <% if(is_logged_in){ %>
                <a href="/my_page">Profile</a>
            <% } %>
            <a href="/about">About</a>
            <% if(is_logged_in){ %>
                <a href="/logout" style="color:red; font-weight:600;">Logout</a>
            <% }else{ %>
                <a href="/login">Login</a>
            <% } %>
        </div>
    </nav>      
</body>
</html>
